<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @comentario.foto %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @comentario.TEXTO %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.FECHA %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
