<p id="notice"><%= notice %></p>
<%if current_administrador!= nil%>
<h1>Listing Calificacions</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Foto</th>
      <th>Nota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calificacions.each do |calificacion| %>
      <tr>
        <td><%= calificacion.usuario.NOMBRE_PHOTOLOG %></td>
        <td><%= calificacion.foto.TITULO %></td>
        <td><%= calificacion.nota %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%else%>
  <h1>Es peligroso estar aquí estar aquí D:</h1>
  <div class="field">
    <img src="<%= asset_path( 'gato.jpg') %>">
  </div>
  <%=link_to "Aquí hay un lugar seguro y cálido", root_path%>
<%end%>