<p id="notice"><%= notice %></p>

<h1>Fotos</h1>
<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>Dueño</th>
      <th> </th>
      <th>Fecha</th>
      <th> </th>
      <th>Titulo</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foto_anonimo.each do |foto| %>
      <tr>
        <td><%= foto.DESCRIPCION %></td>
        <td> </td>
        <td><%= foto.usuario.NOMBRE_PHOTOLOG%></td>
        <td> </td>
        <td><%= foto.FECHA %></td>
        <td> </td>
        <td><%= link_to image_tag(foto.imagen.url(:mini)), foto%></td>
      </tr>
      <tr> </tr>
    <% end %>
  </tbody>
</table>
